
<p>The laboratory environment monitoring and alert system (LEMAS) is a system comprised of several Raspberry Pi devices, connected to instruments, and reporting whether the environment is within desirable conditions, or undesirable which it sends e-mails/text messages to alert users of the condition. The site is a means to remotely visualize data from these devices, and is often called the "Master LEMAS".</p>
<p>The data displayed does not automatically update in your browser. You must manually refresh the page to see new data. This website rebuilds itself every 300 seconds.</p>
<p>This gift of data is brought to you and maintained by Michael Braine (<i><a href='mailto:michael.braine@nist.gov'>michael.braine@nist.gov</a></i>), Dimensional Metrology Group 685.10, PML. January 2020
<p>The NIST distribution of LEMAS source, including sensor manuals and installation instructions, is available on NIST's internal gitlab server: <a href='https://gitlab.nist.gov/gitlab/braine/lemasdist'>https://gitlab.nist.gov/gitlab/braine/lemasdist</a>.</p>
</p>The source for the website construction and many-environment analysis system is available on NIST's internal gitlab: <a href='https://gitlab.nist.gov/gitlab/braine/LEMASmaster'>https://gitlab.nist.gov/gitlab/braine/LEMASmaster</a>.</p>
<br>
<p>If you use <i>lemas.campus.nist.gov</i>, and subsequently the LEMAS devices, then you agree to the terms:
<ol> <li>Do not reproduce the LEMAS system or site in any capacity without receiving consent from 685.10. Downloading and publishing data is okay as long as it is annotated as originating from this system. Give credit where appropriate</li>
  <li>You allow other users to use or play with the data</li>
  <li>The data must not be used for calibrations. It is provided purely for monitoring, informational, and decision-making purposes</li>
  <li>E-mail any suggestions, oddities, and abnormal behavior to the site maintainer</li>
  <li>This system is known to the State of Maryland (rather, the office of 220/B114 <i>in</i> the state of MD) to cause personal increased awareness of indoor laboratory environmental conditions. Side effects include, but are not limited to: anxiety, depression, feelings of dread or anger, and increased heart rate. If you experience any of these symptoms lasting more than 1 hour, stop using the system and consult your group leader immediately.</li>
</ol></p>
</body>
</html>
